dd<%- include ('./adminheader.ejs') %>
<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card insertdiv" id='insertdiv'>
            <div class="card-header">
              <h4>Banner Management </h4>
            </div>
           
            <div class="card-body">
            
           
            
                <div class="row">
                    



                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>Banner Name</label>
<select class="form-control" name="bannerid" id="bannerid">
</select>
                      </div>

                  </div>



            
          
            
            </div>
            <div class="card-footer text-right">
              <button class="btn btn-primary mr-1" type="button" id="next">Save</button>
         
            </div>
            
          </div>





      
          
          
<div class="card mb-4" > 

    <div class="table-responsive">
      <input type="text"  class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search Here.." title="Type in a name" style='margin-bottom:20px;margin-left:20px;margin-right:20px;'>
                
<table id="myTable" class="table table-bordered table-striped mb-0">
  <thead>
  <tr>
<th>Category</th>
<th>Sub-Category</th>

  <th>Product</th>
  
  <th>Options</th>
  </tr>
  </thead>
  <tbody>
      
  <% for(i=0;i<result.length;i++) { %>
 <tr>
  <td><%=result[i].categoryname%></td>
  <td><%=result[i].subcategoryname%></td>
 
  <td><%=result[i].name%></td>
  
  <td>
  <input type='checkbox' class = 'pr' name = 'products[]' id='products' value="<%=result[i].id%>">
  </td>
  </tr>
<% } %>
 </tbody>
  </table>
  
  
  
  </div>
 
      

</div>



<div class="card mb-4" id='editdiv'>
<h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back1" style="margin:10px">Back</button></span>Edit Data</h6>
<div class="card-body">

  <form>
      <div class="form-row">


          <div class="form-group col-md-6">
              <label class="form-label">ID</label>
              <input type="text" class="form-control" placeholder="Email" id="pid" readonly>
              <div class="clearfix"></div>
              </div>

      <div class="form-group col-md-6">
      <label class="form-label">Offer Title</label>
      <input type="text" class="form-control" id="pname">
      <div class="clearfix"></div>
      </div>
   
      </div>
      

      <div class="form-row">


          <div class="form-group col-md-6">
              <label class="form-label">Offer Description</label>
              <input type="text" class="form-control"  id="pdescription" >
              <div class="clearfix"></div>
              </div>

      <div class="form-group col-md-6">
      <label class="form-label">Discount</label>
      <input type="text" class="form-control" placeholder="Discount" id="pdiscount">
      <div class="clearfix"></div>
      </div>
   
      </div>
      
      
      <button type="button" id='update' class="btn btn-primary">Submit</button>
      </form>
</div>
</div>



<div class="card mb-4" id="updateimagediv">
<h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back2" style="margin:10px">Back</button></span> Upload Image</h6>
<div class="card-body">

  <form action="/offer/update_image" method="POST" enctype="multipart/form-data">
      <div class="form-row">
 
          <div class="form-group col-md-6">
              <label class="form-label">ID</label>
              <input type="text" class="form-control" placeholder="Email" id="peid" name="id" readonly>
              <div class="clearfix"></div>
              </div>


      <div class="form-group col-md-6">
      <label class="form-label">Image</label>
      <input type="file" class="form-control" name='image' placeholder="Password">
      <div class="clearfix"></div>
      </div>
      </div>
      
      
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
</div>

      
        </div>
       
      </div>
    </div>
  </section>
  <div class="settingSidebar">
    <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
    </a>
 
  </div>
</div>

</div>
</div>
<!-- General JS Scripts -->
<script src="/light/assets/js/app.min.js"></script>   
<!-- JS Libraies -->
<!-- Page Specific JS File -->
<!-- Template JS File -->
<script src="/light/assets/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/light/assets/js/custom.js"></script>


<script src="/javascripts/offer.js"></script>

<script type="text/javascript" src="/javascripts/common.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>

$('.uploadImage').submit(function (e) {
e.preventDefault();

// var title = $('#title').val(); 

$(this).ajaxSubmit({
  // data: {title: title},
  contentType: 'application/json',
  success: function (response) {
    alert('successfully')
  }
});
return false;
});





$('#next').click(function(){
   



    let bannerid = $('#bannerid').val()
    let productid =$('#products:checked').val();

    var a = [];
                $("#products:checked").each(function() {
                    a.push(this.value);
                });
               
    console.log('products',a)

    let b = JSON.stringify(a)



    $.post('/banner/management/insert',{bannerid,b},data=>{
        alert('Created Successfully')
    })

})




</script>

</body>


</html>