<%- include ('./navbar.ejs') %>

<title>Thankyou Page |  Fika</title>
<meta name="description" content="Thankyou Page |  Fika">

    <!-- Page content -->
    <main class="content-wrapper">
      <div class="row row-cols-1 row-cols-lg-2 g-0 mx-auto" style="max-width: 1920px">

        <!-- Tank you content column -->
        <div class="col d-flex flex-column justify-content-center py-5 px-xl-4 px-xxl-5">
          <div class="w-100 pt-sm-2 pt-md-3 pt-lg-4 pb-lg-4 pb-xl-5 px-3 px-sm-4 pe-lg-0 ps-lg-5 mx-auto ms-lg-auto me-lg-4" style="max-width: 740px">
            <div class="d-flex align-items-sm-center border-bottom pb-4 pb-md-5">
              <div class="d-flex align-items-center justify-content-center bg-success text-white rounded-circle flex-shrink-0" style="width: 3rem; height: 3rem; margin-top: -.125rem">
                <i class="ci-check fs-4"></i>
              </div>
              <div class="w-100 ps-3">
                <div class="fs-sm mb-1">Order #<%=result[1][0].orderid%></div>
                <div class="d-sm-flex align-items-center">
                  <h1 class="h4 mb-0 me-3">Thank you for your order!</h1>
                  <div class="nav mt-2 mt-sm-0 ms-auto">
                    <a class="nav-link text-decoration-underline p-0" href="/myorder">Track order</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column gap-4 pt-3 pb-5 mt-3">
              <div>
                <h3 class="h6 mb-2">Delivery</h3>
                <p class="fs-sm mb-0"><%=result[1][0].address%></p>
              </div>
             
              <div>
                <h3 class="h6 mb-2">Payment</h3>
                <p class="fs-sm mb-0"><%=result[1][0].payment_mode.toUpperCase()%></p>
              </div>
            </div>
            <div class="bg-success rounded px-4 py-4" style="--cz-bg-opacity: .2">
              <div class="py-3">

				<% if(result[7][0].type == 'Flat'){ %>
					<h2 class="h4 text-center pb-2 mb-1">🎉 Congratulations! Flat <%=result[7][0].amount%> off your new purchase!</h2>

					<% } else { %>
						<h2 class="h4 text-center pb-2 mb-1">🎉 Congratulations! <%=result[7][0].amount%>% off your new purchase!</h2>

						<% } %>
                
				<p class="fs-sm text-center mb-4">Use the coupon now or look for it in your personal account.</p>
                <div class="d-flex gap-2 mx-auto" style="max-width: 500px">
                  <input type="text" class="form-control border-white border-opacity-10 w-100" id="couponCode" value="<%=result[7][0].name%>" readonly="">
                  <button type="button" class="btn btn-dark" data-copy-text-from="#couponCode">Copy coupon</button>
                </div>
              </div>
            </div>
            <p class="fs-sm pt-4 pt-md-5 mt-2 mt-sm-3 mt-md-0 mb-0">Need help?<a class="fw-medium ms-2" href="#!">Contact us</a></p>
          </div>
        </div>


        <!-- Related products -->
        <div class="col pt-sm-3 p-md-5 ps-lg-5 py-lg-4 pe-lg-4 p-xxl-5">
          <div class="position-relative d-flex align-items-center h-100 py-5 px-3 px-sm-4 px-xl-5">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-tertiary rounded-5 d-none d-md-block"></span>
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-tertiary d-md-none"></span>
            <div class="position-relative w-100 z-2 mx-auto pb-2 pb-sm-3 pb-md-0" style="max-width: 636px">
              <h2 class="h4 text-center pb-3">You may also like</h2>
              <div class="row row-cols-2 g-3 g-sm-4 mb-4">

				<% for(i=0;i<result[8].length;i++){ %>
                <!-- Item -->
				<div class="col">
					<div class="product-card animate-underline hover-effect-opacity bg-body rounded">
					  <div class="position-relative">
						<div class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 mt-3 me-3">
						  <div class="d-flex flex-column gap-2">
							<button type="button" class="btn btn-icon btn-secondary animate-pulse d-none d-lg-inline-flex" aria-label="Add to Wishlist">
							  <i class="ci-heart fs-base animate-target"></i>
							</button>
						  
						  </div>
						</div>
						<div class="dropdown d-lg-none position-absolute top-0 end-0 z-2 mt-2 me-2">
						  <button type="button" class="btn btn-icon btn-sm btn-secondary bg-body" data-bs-toggle="dropdown" aria-expanded="false" aria-label="More actions">
							<i class="ci-more-vertical fs-lg"></i>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-end fs-xs p-2" style="min-width: auto">
							<li>
							  <a class="dropdown-item" href="#!">
								<i class="ci-heart fs-sm ms-n1 me-2"></i>
								Add to Wishlist
							  </a>
							</li>
						
						  </ul>
						</div>
						<a class="d-block rounded-top overflow-hidden p-3 p-sm-4" href="/product?id=<%=result[8][i].id%>">
							<% if (result[8][i].discount && result[8][i].discount > 0) { %>
								<span class="badge bg-danger position-absolute top-0 start-0 mt-2 ms-2 mt-lg-3 ms-lg-3">
								  -<%= result[8][i].discount %>%
								</span>
							  <% } %>
							  
						  <div class="ratio" style="--cz-aspect-ratio: calc(240 / 258 * 100%)">
							<img src="/images/<%=result[8][i].image%>" alt="VR Glasses">
						  </div>
						</a>
					  </div>
					  <div class="w-100 min-w-0 px-1 pb-2 px-sm-3 pb-sm-3">
						<!-- <div class="d-flex align-items-center gap-2 mb-2">
						  <div class="d-flex gap-1 fs-xs">
							<i class="ci-star-filled text-warning"></i>
							<i class="ci-star-filled text-warning"></i>
							<i class="ci-star-filled text-warning"></i>
							<i class="ci-star-filled text-warning"></i>
							<i class="ci-star text-body-tertiary opacity-75"></i>
						  </div>
						  <span class="text-body-tertiary fs-xs">(123)</span>
						</div> -->
						<h3 class="pb-1 mb-2">
						  <a class="d-block fs-sm fw-medium text-truncate" href="/product?id=<%=result[8][i].id%>">
							<span class="animate-target"><%=result[8][i].name%></span>
						  </a>
						</h3>
						<div class="d-flex align-items-center justify-content-between">
						  <div class="h5 lh-1 mb-0">Rs.<%=result[8][i].net_amount%> <del class="text-body-tertiary fs-sm fw-normal">Rs.<%=result[8][i].price%></del></div>
						  <button type="button" onclick="addToCart('<%=result[8][i].id%>')" class="product-card-button btn btn-icon btn-secondary animate-slide-end ms-2" aria-label="Add to Cart">
							<i class="ci-shopping-cart fs-base animate-target"></i>
						  </button>
						</div>
					  </div>
					  <!-- <div class="product-card-details position-absolute top-100 start-0 w-100 bg-body rounded-bottom shadow mt-n2 p-3 pt-1">
						<span class="position-absolute top-0 start-0 w-100 bg-body mt-n2 py-2"></span>
						<ul class="list-unstyled d-flex flex-column gap-2 m-0">
						  <li class="d-flex align-items-center">
							<span class="fs-xs">Display:</span>
							<span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
							<span class="text-dark-emphasis fs-xs fw-medium text-end">OLED 1440x1600</span>
						  </li>
						  <li class="d-flex align-items-center">
							<span class="fs-xs">Graphics:</span>
							<span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
							<span class="text-dark-emphasis fs-xs fw-medium text-end">Adreno 540</span>
						  </li>
						  <li class="d-flex align-items-center">
							<span class="fs-xs">Sound:</span>
							<span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
							<span class="text-dark-emphasis fs-xs fw-medium text-end">2x3.5mm jack</span>
						  </li>
						  <li class="d-flex align-items-center">
							<span class="fs-xs">Input:</span>
							<span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
							<span class="text-dark-emphasis fs-xs fw-medium text-end">4 built-in cameras</span>
						  </li>
						</ul>
					  </div> -->
					</div>
				  </div>

				  <% } %>

                <!-- Item -->
             
              </div>

              <a class="btn btn-lg btn-primary w-100" href="/">
                Continue shopping
                <i class="ci-chevron-right fs-lg ms-1 me-n1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>


    <!-- Page footer -->
  


    <!-- Back to top button -->
    <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
      <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
        Top
        <i class="ci-arrow-right fs-base ms-1 me-n1 animate-target"></i>
        <span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
        <svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></rect>
        </svg>
      </a>
    
    </div>


    <!-- Bootstrap + Theme scripts -->
    <script src="/theme/assets//js/theme.min.js"></script>
  

</body>
<%- include ('./footer.ejs') %>

<!-- Mirrored from cartzilla-html.createx.studio/checkout-v1-thankyou.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Dec 2024 06:38:25 GMT -->
</html>