<%- include ('./indexheader.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">


    <!-- header section end -->

    <!-- main content start -->

    <!-- Hero Slider Start -->
    <section class="hero-section">
        <div class="hero-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <% for(i=0;i<result[1].length;i++) { %>
                    <!-- swiper-slide start -->
                    <div class="hero-slide-item slider-height1 swiper-slide animate-style1 slide-bg1">
                       <a href='/banner-product?id=<%=result[1][i].id%>'>
                        <img src="/images/<%=result[1][i].image%>"  style="height: 100%;width:100%">
                    </a>
                     
                    </div>
                    <!-- swiper-slide end-->

                    <% } %>

                  
                </div>
            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- swiper navigation -->
            <div class="d-none d-lg-block">
                <div class="swiper-button-prev">
                    <i class="las la-chevron-circle-left"></i>
                </div>
                <div class="swiper-button-next">
                    <i class="las la-chevron-circle-right"></i>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Slider End -->

    <!-- Food Category section start -->

    <section class="food-category-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="food-category-carousel food-carousel-box-shadow food-carousel-negative-space">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <!-- swiper-slide start -->
                                <div class="row ">

                                    <div class="section-title">
                                        <h2 class="title">Category</h2>
                                    </div>


                                    <% for(i=0;i<8;i++) { %>
                                        <div class="col-md-3" style="margin-top: 25px;">

                                            <div class="food-category-item swiper-slide">
                                                <a href="/shop?categoryid=<%=result[0][i].id%>"
                                                    class="food-catery-thumb">
                                                    <img src="/images/<%=result[0][i].image%>" alt="image_not_found" />
                                                </a>

                                                <h3 class="food-catery-title">

                                                    <a href="/shop?categoryid=<%=result[0][i].id%>">
                                                        <%=result[0][i].name%>
                                                    </a>

                                                </h3>
                                            </div>
                                        </div>

                                        <% } %>
                                </div>


                                <!-- swiper-slide end-->

                            </div>
                        </div>

                        <!-- swiper navigation -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Food Category section end -->

    <!-- deal carousel satrt -->

    <!-- deal carousel end -->

    <!-- Product Carousel section start -->


<% let j=0;
    let k = 4%>

    <% for(i=0;i<result[3].length;i++) { %>

     

        <section class="product-carousel" style="margin-top: 20px;">
            <div class="container position-relative">
                <div class="row">
                    <div class="section-title">
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-md-11">
                        <h2 class="title"><%=result[3][i].name%></h2>
                        </div>
                        <div class="col-md-1">
                        <h2 class="topbar-nav-item" style="margin-bottom: 2px ; font-weight: bold;">
                           <strong ><a class="topbar-nav-link" href="/view-all-product?id=<%=result[3][i].id%>"><u>View All</u></a></strong>
                        </h2>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="custom-container">
                            <div class="custom-col-left">
                                <aside class="sidebar-widgets">
                                    <div class="widget">
                                        <div class="product-box">
                                            <a href="/view-all-product?id=<%=result[3][i].id%>" class="banner-box-animation">
                                                <img src="/images/<%=result[3][i].image%>" alt="images_not_found" />
                                            </a>

                                        </div>
                                    </div>
                                </aside>
                            </div>





                            <div class="custom-col-right">
                                <div class="food-carousel-five-items">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <!-- swiper-slide start -->
                                            <div class="row">



                                                <% for(j=j;j<k;j++) { %>

                                                    <div class="col-lg-3">
                                                        <div class="product-card-list">
                                                            <!-- product-card start -->
                                                            <div class="product-card">
                                                                
                                                                <div class="product-thumb-nail">
                                                                    <a href="/product?id=<%=result[2][j].productid%>">
                                                                        <img class="product-image"
                                                                            src="/image<%=result[2][j].productimage%>"
                                                                            alt="image_not_found" />
                                                                    </a>

                                                                </div>
                                                                <div class="product-content">
                                                                    
                                                                    <h3 class="product-title"><a
                                                                            href="/product?id=<%=result[2][j].productid%>"><%=result[2][j].productname%></a></h3>
                                                                    
                                                                    <% if(result[2][j].productdiscount == 0) { %>
                                                                        <div class="product-price-wrapp">
                                                                           
                                                                            <span
                                                                                class="product-price-on-sale">Rs. <%=result[2][j].productnetamount%></span>
                                                                           
                                                                        </div>
                                                                   <% } else { %>
                                                                    <div class="product-price-wrapp">
                                                                        <span
                                                                            class="product-regular-price">Rs. <%=result[2][j].productprice%></span>
                                                                        <span
                                                                            class="product-price-on-sale">Rs. <%=result[2][j].productnetamount%></span>
                                                                        <span class="badge bg-success"><%=result[2][j].productdiscount%> %</span>
                                                                    </div>

                                                                    <% } %>
                                                                           


                                                                    <% if(result[2][j].productquantity == 0 || result[2][j].productquantity < 0) { %>
                                                                    <div class="product-cart-btn-wrap">
                                                                        <button   data-bs-toggle="modal" data-bs-target="#addto-cart-modal" class="btn btn-dark add-to-cart-btn">Out Of Stock</button>
                                                                    </div>


                                                                    <% } else { %>
                                                                        <div class="product-cart-btn-wrap">
                                                                            <button id="addToCart" subcategoryid="<%=result[2][j].productsubcategoryid%>"  booking_id="<%=result[2][j].productid%>" price="<%=result[2][j].productnetamount%>" categoryid = '<%=result[2][j].productcategoryid%>' data-bs-toggle="modal" data-bs-target="#addto-cart-modal" class="btn btn-dark add-to-cart-btn addToCart">Add To Card</button>
                                                                        </div> 
                                                                        
                                                                        <% } %>
                                                                    <!-- <div class="product-cart-btn-wrap">
                                                                        <button  id="addToCart"  data-bs-toggle="modal" data-bs-target="#addto-cart-modal" class="modal-add-to-cart-btn">
                                                                            Add to cart
                                                                        </button>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                            <!-- product-card end -->
                                                        </div>
                                                    </div>


                                                    <% } %>



                                                    <% k = k+4%>


                                                        <!-- product-card-list start -->


                                                        <!-- product-card-list end -->

                                                        <!-- product-card-list start -->

                                                        <!-- product-card-list end -->

                                            </div>

                                            <!-- swiper-slide end-->
                                        </div>

                                    </div>

                                    <!-- swiper navigation -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <% } %>
            <!-- Product Carousel section end -->


            <!-- product tab slider start -->
         
            <!-- product tab slider end -->

            <!-- main-banner-section start -->



            <!-- main-banner-section end -->

            <!-- featured carousel section start -->

            <!-- brand carousel end -->





            <!-- service section start -->
            <section class="service-section section-mt section-mb">
                <div class="container">
                    <div class="services">
                        <div class="row mb-n7">

                            <div class="col-sm-6 col-lg-3 mb-7">
                                <div class="service-item">
                                    <img class="service-icon" src="assets/images/icon/service1.png"
                                        alt="images_not_found">
                                    <h3 class="service-title">100% SECURE PAYMENTS</h3>
                                    <p>Moving your card details to a much more secured place</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 mb-7">
                                <div class="service-item">
                                    <img class="service-icon" src="assets/images/icon/service2.png"
                                        alt="images_not_found">
                                    <h3 class="service-title">TRUSTPAY</h3>
                                    <p>100% Payment Protection With Easy Cancellation Policy </p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 mb-7">
                                <div class="service-item">
                                    <img class="service-icon" src="assets/images/icon/service3.png"
                                        alt="images_not_found">
                                    <h3 class="service-title">HELP CENTER</h3>
                                    <p>GGot a question? Look no further.Browse our FAQs or submit your query here.</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 mb-7">
                                <div class="service-item">
                                    <img class="service-icon" src="assets/images/icon/service4.png"
                                        alt="images_not_found">
                                    <h3 class="service-title">Express Shipping</h3>
                                    <p>Choose Your Convenient Time Slots For Delivery</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- service section end -->


            <!-- main content end -->

            <%- include ('./indexfooter.ejs') %>
            <div id="pageMessages" style="position: fixed;bottom:100px;right:20px">
    
    
                <script>
                
                $('.addToCart').click(function(){
                            
                            // id="<%=result[1][0].id%>" price="<%=result[1][0].net_amount%>" categoryid = '<%=result[1][0].categoryid%>' vendorid = '<%=result[1][0].vendorid%>' 
                            let quantity = 1
                            let booking_id = $(this).attr('booking_id');
                            let price = $(this).attr('price');
                            let oneprice = $(this).attr('price');
                            let categoryid = $(this).attr('categoryid');
                            let subcategoryid = $(this).attr('subcategoryid');

                            // alert(price)
                
                            // let vendorid = $(this).attr('vendorid');
                        
                        
                            price = price*quantity
                        
                            $.post('/cart-handler',{booking_id,price,categoryid,oneprice,quantity,subcategoryid},data=>{
                                createAlert('','Nice Work!','Here is a bunch of text about some stuff that happened.','success',true,true,'pageMessages')
                            })
                            
                        })
                
                
                
                
                        function createAlert(title, summary, details, severity, dismissible, autoDismiss, appendToId) {
                            
                            var iconMap = {
                              info: "fa fa-info-circle",
                              success: "fa fa-thumbs-up",
                              warning: "fa fa-exclamation-triangle",
                              danger: "fa ffa fa-exclamation-circle"
                            };
                          
                            var iconAdded = false;
                          
                            var alertClasses = ["alert", "animated", "flipInX"];
                            alertClasses.push("alert-" + severity.toLowerCase());
                          
                            if (dismissible) {
                              alertClasses.push("alert-dismissible");
                            }
                          
                            var msgIcon = $("<i />", {
                              "class": iconMap[severity] // you need to quote "class" since it's a reserved keyword
                            });
                          
                            var msg = $("<div />", {
                              "class": alertClasses.join(" ") // you need to quote "class" since it's a reserved keyword
                            });
                          
                            if (title) {
                              var msgTitle = $("<h4 />", {
                                html: title
                              }).appendTo(msg);
                              
                              if(!iconAdded){
                                msgTitle.prepend(msgIcon);
                                iconAdded = true;
                              }
                            }
                          
                            if (summary) {
                              var msgSummary = $("<strong />", {
                                html: 'Added To Cart'
                              }).appendTo(msg);
                              
                              if(!iconAdded){
                                msgSummary.prepend(msgIcon);
                                iconAdded = true;
                              }
                            }
                          
                            
                            
                          
                            if (dismissible) {
                              var msgClose = $("<span />", {
                                "class": "close", // you need to quote "class" since it's a reserved keyword
                                "data-dismiss": "alert",
                                html: "<i class='fa fa-times-circle'></i>"
                              }).appendTo(msg);
                            }
                            
                            $('#' + appendToId).prepend(msg);
                            
                            if(autoDismiss){
                              setTimeout(function(){
                                msg.addClass("flipOutX");
                                setTimeout(function(){
                                  msg.remove();
                                },1000);
                              }, 5000);
                            }
                          }
                          
                          
                
                </script>
                
                